/* frontend/src/index.css */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.btn {
  width: 80%; /* Adjusts the width of the buttons */
  margin-bottom: 10px; /* Button spacing */
}