<!-- app/templates/map.html -->
{% extends "base.html" %}

{% block content %}
    <div id="map" style="height: 100vh;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var map = L.map('map');

            // Capa base de OpenStreetMap
            var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            });

            // Capa de imágenes satelitales de ESRI
            var satelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            });

            // Agregar una capa inicial al mapa
            osmLayer.addTo(map);

            // Control de capas para alternar entre mapas
            var baseMaps = {
                "OpenStreetMap": osmLayer,
                "Satellite": satelliteLayer
            };

            L.control.layers(baseMaps).addTo(map);

            // Función para cargar los datos GeoJSON
            fetch('/terrain/{{ place_id }}')
                .then(response => response.json())
                .then(data => {
                    map.fitBounds(data.bounds);
                    L.geoJSON(data.geojson).addTo(map);
                })
                .catch(error => console.error('Error fetching the GeoJSON data:', error));
        });
    </script>
{% endblock %}
