<!-- app/templates/map.html -->
{% extends "base.html" %}

{% block content %}
<div style="display: flex; height: 100vh;">
    <!-- Menú lateral -->
    <div style="flex: 0 0 250px; padding: 20px; background-color: #f8f9fa;">
        <button onclick="fetchNDVI({{ place.id }})" style="width: 100%; padding: 10px; margin-bottom: 10px;">Obtener NDVI</button>
        <!-- Espacio para futuros botones y funcionalidades -->
    </div>

    <!-- Mapa -->
    <div style="flex: 1; position: relative;">
        <div id="map" style="height: 100%; width: 100%;"></div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("Document loaded, initializing map...");
        var map = L.map('map');

        // Capas base
        var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });
        var satelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        // Agrega las capas al mapa
        osmLayer.addTo(map);
        satelliteLayer.addTo(map);

        var baseMaps = {
            "OpenStreetMap": osmLayer,
            "Satellite": satelliteLayer
        };
        L.control.layers(baseMaps).addTo(map);

        // Carga los datos GeoJSON
        console.log(`Fetching GeoJSON data for place ID: {{ place.id }}`);
        fetch(`/terrain/{{ place.id }}`)
            .then(response => response.json())
            .then(data => {
                console.log("GeoJSON data parsed:", data);
                map.fitBounds(data.bounds);
                L.geoJSON(data.geojson).addTo(map);
            })
            .catch(error => console.error('Error fetching the GeoJSON data:', error));
    });

    // Función para obtener NDVI
    async function fetchNDVI(placeId) {
        console.log(`Fetching NDVI data for place ID: ${placeId}`);
        const response = await fetch(`/ndvi/${placeId}`);
        if (response.ok) {
            const data = await response.json();
            console.log("NDVI data received:", data);
            document.getElementById('ndviResult').innerText = 'NDVI Value: ' + data.ndvi_value;
        } else {
            console.error('Failed to fetch NDVI data');
            alert('Failed to fetch NDVI data');
        }
    }
</script>
{% endblock %}
